@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-hover:hover {
  transform: scale(1.09); 
  /* text-decoration: underline; */
  transition: all 0.15s ease;
}
.icon-hover2:hover {
  transform: scale(1.06);
  transition: all 0.15s ease
}
.icon-hover3:hover {
  transform: scale(1.03);
  transition: all 0.15s ease
}

.circle {
  height: 3px;
  width: 3px;
  background-color: black;

}

.blink {
  animation: blink 1.5s infinite;
}


.fade-in {
  animation: fadeIn 1s ease-out forwards;
}
.slide-up2 {
  animation: slideUp2 1s ease-out forwards;
}
.slide-up {
  animation: slideUp 1s ease-out forwards;
}
.slide-right {
  animation: slideRight 1s ease-out forwards
}
.slide-left {
  animation: slideLeft 1s ease-out forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(50px); /* Start slightly below the original position */
  }
  100% {
    transform: translateY(0); /* End at the original position */
  }
}

@keyframes slideUp2 {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start slightly below the original position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Start slightly below the original position */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes slideLeft {
  0% {
   
    transform: translateX(50px); /* Start slightly below the original position */
  }
  100% {
  
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes typewriter {
  from {
    max-width: 0;
  }
  to {
    max-width: 24ch;
  }
}
@keyframes typewriter2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.typewriter {
  overflow: hidden;             /* Ensures text doesn't go beyond container */
  white-space: nowrap;          /* Keeps the text in a single line */
  animation: 
    typewriter 2.0s steps(40) normal both;
}

.typewriter2 {
  overflow: hidden;             /* Ensures text doesn't go beyond container */
  white-space: nowrap;          /* Keeps the text in a single line */
  animation: 
    typewriter2 2.0s steps(40) normal both;
}

html {
    scroll-behavior: smooth;
}
/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0px;  /* Width of the vertical scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;  /* Color of the scroll thumb */
    /* border-radius: 2px; */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #232323;  /* Color of the scroll thumb on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  
  @keyframes wiggle-border {
    0% {
      border-radius: 50%;
    }
    50% {
      border-radius: 45% 
    }
    100% {
      border-radius: 50%;
    }
  }
  .wiggle-border {
    animation: wiggle-border 2s infinite ease-in-out;
  }
 

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }