@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-hover:hover {
  transform: scale(1.09); 
  /* text-decoration: underline; */
  transition: all 0.15s ease;
}
.icon-hover2:hover {
  transform: scale(1.06);
  transition: all 0.15s ease
}
.icon-hover3:hover {
  transform: scale(1.03);
  transition: all 0.15s ease
}

.circle {
  height: 3px;
  width: 3px;
  background-color: black;

}

.blink {
  animation: blink 1.5s infinite;
}

html {
    scroll-behavior: smooth;
}
/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0px;  /* Width of the vertical scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;  /* Color of the scroll thumb */
    /* border-radius: 2px; */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #232323;  /* Color of the scroll thumb on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  
  @keyframes wiggle-border {
    0% {
      border-radius: 50%;
    }
    50% {
      border-radius: 45% 
    }
    100% {
      border-radius: 50%;
    }
  }
  .wiggle-border {
    animation: wiggle-border 2s infinite ease-in-out;
  }
 

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }